.my-main {
    border: 1px dashed rgb(56, 151, 246);
    padding: 2px;
    margin: 1px;
    background-color: rgb(00, 00, 00);
}

.my-top-row {
    padding: 1px;
    margin: 1px;
    background-color: rgb(4, 45, 91);
}
