@using Dependinator.Diagrams

@inject ICanvasService canvasService

<div class="top-row">
    <button @onclick="@canvasService.Refresh">Scan</button>
    <button @onclick="@canvasService.Clear">Clear</button>
</div>

<div class="my-main">
    <Canvas />
</div>
