@inject IApplicationEvents applicationEvents
@inject IDependenciesService srv

<MudPopover Open="@srv.IsShowExplorer" Fixed="true" Class="px-4 pt-4 ml-1" AnchorOrigin="Origin.BottomLeft"
    TransformOrigin="Origin.BottomLeft">

    <MudStack>
        <MudStack Row="true">
            <MudIcon Icon="@Icons.Material.Outlined.Polyline" Class="my-n2" />
            <MudText Typo="Typo.subtitle2" Class="my-n2 ml-n2">Dependencies Explorer</MudText>
            <MudSpacer />
            <MudIconButton Icon="@Icons.Material.Outlined.Close" Size="Size.Small" Class="my-n2"
                OnClick="srv.HideExplorer" />
        </MudStack>

        <MudDivider />
        <MudPaper MinWidth="350px" MaxHeight="550px" Class="overflow-y-auto" Elevation="0">
            <MudStack Row="true">
                <div  Class="overflow-y-auto" MaxHeight="500px">
                     <DependenciesTree Side="TreeSide.Left" />
                </div>
                <div  Class="overflow-y-auto" MaxHeight="500px">
                    <DependenciesTree Side="TreeSide.Right" />
                </div>
            </MudStack>
        </MudPaper>
    </MudStack>
</MudPopover>



@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender) applicationEvents.UIStateChanged += () => InvokeAsync(StateHasChanged);
    }
}