.publish/**
resources/demo.gif
resources/publisher-logo-128.png
.vscode-test/**
artifacts/**
node_modules/**
scripts/**
src/**
tsconfig*.json
esbuild.js
package-lock.json
**/*.ts
**/*.map
*.vsix
.gitignore
DEVELOPMENT.md
