.app-layout {
    --mud-appbar-height: 48px;
}

.main-content {
    padding: 8px 12px 12px;
}

@media (max-width: 960px) {
    .app-layout {
        --mud-appbar-height: 0px;
    }

    :global(.app-layout .mud-layout-header) {
        display: none;
    }

    .main-content {
        padding: 0;
    }

    :global(.mud-main-content) {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
}
