@namespace DependinatorLib.Areas.Canvas

@inject DependinatorLib.Areas.Canvas.ICanvasService srv

<div height="100%" width="100%">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 260 240" @onmousemove=@(e => srv.OnMouse(e)) @onmouseup=@(e
        => srv.OnMouse(e)) @onmousedown=@(e => srv.OnMouse(e)) @onmousewheel=@(e => srv.OnMouseWheel(e))>
        @((MarkupString)srv.GetContent())
    </svg>
</div>