.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

svg {
    /* The 100% width and height will make it take up the full space of its container */
    /* border: 1px dashed rgb(56, 151, 246); */
}

.drop-zone {
    border: 2px solid #0088f711;
}

.drop-zone.hover {
    border: 2px solid #0087F7;
    background-color: #0088f711;
}

